<div
  class="c-price-breakdown-modal__content"
  role="dialog"
  aria-modal="true"
  aria-labelledby="price-breakdown-title"
>
  <header class="c-price-breakdown-modal__header">
    <h2 class="c-price-breakdown-modal__title" id="price-breakdown-title">
      Desglose de precios
    </h2>
    <button
      class="c-price-breakdown-modal__close-btn"
      (click)="onClose()"
      aria-label="Cerrar desglose"
    >
      <app-icon name="close" aria-hidden="true"></app-icon>
    </button>
  </header>

  <section
    class="c-price-breakdown-modal__details"
    aria-labelledby="breakdown-item-title"
  >
    <div class="c-price-breakdown-modal__details--info">
      <h3 class="c-price-breakdown-modal__item-title" id="breakdown-item-title">
        {{ title() }}
        <span
          class="c-price-breakdown-modal__item-duration"
          aria-label="Duración"
          >{{ duration() }}</span
        >
      </h3>
      <ul
        class="c-price-breakdown-modal__list"
        aria-label="Lista de conceptos del desglose"
      >
        @for(item of items(); track item.label) {
        <li class="c-price-breakdown-modal__list-item">
          <span class="c-price-breakdown-modal__item-label">{{
            item.label
          }}</span>
          <span
            class="c-price-breakdown-modal__item-value"
            [attr.aria-label]="item.label + ': ' + item.value"
            >{{ item.value }}</span
          >
        </li>
        }
      </ul>
    </div>
    <div
      class="c-price-breakdown-modal__total"
      role="region"
      aria-label="Precio total"
    >
      <span class="c-price-breakdown-modal__final-label">{{
        finalPriceLabel()
      }}</span>
      <span class="c-price-breakdown-modal__final-value" aria-live="polite">{{
        finalPrice()
      }}</span>
    </div>
  </section>
</div>
