@use "styles/abstracts/variables" as vars;
@use "buttons.mixins" as mixins;

.c-button {
  @include mixins.button-base;

  &__content {
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  &__icon {
    display: inline-flex;
  }

  &--sm {
    padding: 8px 24px;
    min-height: 40px;
    font-size: 16px;
    line-height: 24px;
    background-color: vars.$basic-white;
    width: inherit;
  }
  &--base {
    padding: 12px 40px;
    min-height: 48px;
    font-size: 16px;
    line-height: 24px;
  }
  &--lg {
    padding: 16px 48px;
    min-height: 56px;
    font-size: 20px;
    line-height: 24px;
  }

  &--primary {
    @include mixins.button-variant(
      vars.$brand-purple,
      vars.$basic-white,
      vars.$brand-purple,
      vars.$primary-800
    );
  }

  &--secondary {
    @include mixins.button-variant(
      vars.$secondary-400,
      vars.$basic-white,
      vars.$secondary-400,
      vars.$secondary-500
    );

    &:disabled,
    &[disabled] {
      background-color: vars.$basic-500;
      border-color: vars.$basic-500;
      color: vars.$basic-700;
    }
  }

  &--outline {
    @include mixins.button-outline-variant(
      vars.$brand-purple,
      vars.$primary-800
    );
  }

  &:disabled,
  &[disabled] {
    @include mixins.button-disabled;
  }
}
