@use "styles/abstracts/variables" as vars;

.c-title {
  font-family: "Syne", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 24px;
  color: vars.$basic-800;
  flex: none;
  order: 0;
  flex-grow: 0;
}
:host-context(.c-card-grid__title) .c-title {
  font-size: 30px;
  line-height: 36px;
  margin: 0;
}
