@use "styles/abstracts/variables" as vars;

.c-tag {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 4px 12px;
  gap: 10px;
  height: 24px;
  border-radius: 40px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
  color: vars.$basic-800;

  &__label {
    display: flex;
    align-items: center;
    height: 16px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }

  &--secondary {
    background: vars.$brand-orange;
  }

  &--grey {
    background: vars.$basic-100;
  }
}
